body {
    background-color: #fff;
}

.no-display {
    display: none;
}

.left {
    margin: auto;
    padding: 10px 50px;
    text-align: left;
    font-size: 22px;
    list-style-type: none;
    display: inline-block;
}

.left img {
    display: inline-block;
    width: 7%;
    height: auto;
}

.right {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 22px;
}

.title {
    font-size: 60px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
}

.title2 {
    font-size: 60px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
}

.content {
    margin-top: 0em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}

button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #ef233c;
    font-size: 13px;
    color: #ef233c;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px #ef233c;
    border-radius: 2px;
    background-color: #ef233c;
    font-size: 13px;
    color: #ffffff;
}

button:focus {
    outline: 0;
}